@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #fafafa;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 260px;
}

article {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

/* Background */
.principal, .new-user {
    background-color: #fff;
    border: 1px solid rgba(212, 212, 212, 0.856);
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Image container */
#image-container {
    background: url(../images/phone/phone.png) no-repeat bottom;
    position: relative;
    height: 640px;
    margin-top: 18px;
    width: 400px;
}

/* Carousel */
.carousel {
    float: right;
    right: 26px;
    top: 31px;
    position: absolute;
}

.carousel-image {
    -webkit-animation: opacity 8s;
    animation: opacity 8s;
    -webkit-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    transition: 1.5s ease;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Login container */
#login-container {
    min-width: 275px;
    padding-top: 10px;
    text-align: center;
    width: 352px;
}

/* Logo */
.logo {
    height: 130px;
    line-height: 190px;
}

/* Form */
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

form .form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 13px auto;
    position: relative;
    width: 82%;
}

fieldset {
    background-color: #fafafa;
    border: 1px solid rgba(212, 212, 212, 0.856);
    border-radius: 4px;
    outline: #262626;
}

fieldset:focus-within {
    border: 1px solid #3b3b3b;
}

/* Input and Button */
form input, form button {
    background-color: transparent;
    border: none;
    height: 35px;
    margin: auto;
    outline: none;
    padding: 0 6px;
    width: 100%;
}

/* Label */
label {
    color: #707070;
    cursor: text;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 1px 0 0 6px;
    position: absolute;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%; 
}

fieldset:focus label, fieldset:valid label {
    height: 10px;
    padding-left: 5px;
    line-height: 9px;
    font-size: 10px;
}

/* Input password and show/hide */
form .password-view button {
    color: #262626;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 100%;
    padding: 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form .password-view {
    display: none;
}

form input#password:valid ~ .password-view {
    display: block;
}

form .password-hide {
    display: none;
}

/* Log in */
form button#login {
    background-color: #b2dffb; /*It is defined in the form.js as inputLogin.style.background*/
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

/* Or and bars */
form .box-or {
    height: 36px;
    line-height: 36px;
}

form .box-or .bar {
    border-top: 0.8px solid rgba(129, 128, 128, 0.74);
    display: block;
    height: 17px;
    position: relative;
    top: 18px;
    width: 160px;
}

form .box-or .text {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    width: 65px;
}

/* Facebook log in */
form .box-facebook button {
    border: none;
    border-radius: 4px;
    color: #29487d;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 35px;  
    line-height: 35px;
}

/* Forgot password */
form .box-forgot-password a {
    color: #2c7cb1;
    font-size: 13px;
}

/* New user */
.new-user {
    font-size: 13px;
    line-height: 13px;
    padding: 20px 0;
}
        
.new-user a {
    color: #0095f6;
    font-weight: 600;
}
        
/* Get the app */
.get-the-app p {
    padding-bottom: 15px;
    font-size: 13.4px;
}
    
.get-the-app .badge img {
    width: 130px;
}
    
/* Footer */
footer {
    color: #8e8e8e;
    font-size: 12px;
    margin: 0 auto;
    min-width: 260px;
}

footer ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;  
    position: relative;
}

footer li {
    margin: 5px;
}

footer a {
    color: #8e8e8e;
    text-align: center;
}

/* Select language */
li.select-language {
    position: relative;
    width: auto;
} 

span.current-language {
    height: 100%;
    position: relative;
    width: 100%;
}

select {
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

/* My social networks */
.tnb {
    font-size: 13px;
    text-align: center;
}

.tnb img {
    -webkit-filter: invert(62%) sepia(1%) saturate(3974%) hue-rotate(24deg) brightness(92%) contrast(80%);
    filter: invert(62%) sepia(1%) saturate(3974%) hue-rotate(24deg) brightness(92%) contrast(80%);
    height: 25px;
    margin: 10px 0;
    -webkit-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    width: 25px;
}

.tnb img:hover {
    -webkit-filter: none;
    filter: none;
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #image-container {
        display: none;
    }

    form .box-facebook button {
        background-color: #0095f6;
        color: #fff;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #image-container {
        display: none;
    }
        
    form .box-facebook button {
        background-color: #0095f6;
        color: #fff;
    }
}